@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
body{
    background-color: rgb(8, 28, 28);
    font-family: 'Poppins';
}
.main{
    display: flex;
    flex-direction: column;
}

.header-line{
    display: flex;
    justify-content: center; /* Centers the hr element horizontally */
}

.header-line hr {
    width: 100%; /* Sets the width of the hr element to 75% of its container */
    border: none; /* Removes the default border */
    height: 1px; /* Sets the height of the hr line */
    background-color: gold; /* Sets the color of the hr line, change as needed */
  }

.left{
    border-bottom: 3px solid transparent;
    padding-bottom: 0.125em;
    /* background-color: aliceblue; */
    transition: border-bottom-color 50ms linear 0s;
  }
  
  .left:hover {
    background-color: rgba(8,28,28);
    cursor: pointer;
    border-bottom-color: #abcdef;
  }
  
  .image{
    background-color:none;
    border-radius: 10px;
  }
  
  .connect{
     background-color: rgb(230, 207, 80);
     border-radius: 8px;
     padding-right: 10px;
     padding-left: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     color: #ffffff;
  }
  
  .icon{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
  }
  .line{
    height: 28px;
    width: 3.8px;
    background-color: white;
    border-radius: 1px;
  }
  
  .footerRight{
    display: flex;
    gap: 28px;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  .footerLeft{
     display: flex;
     align-items: center;
     margin-left: 40px;
  }
  
  .threeIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
  }

  .footer-line {
    display: flex;
    justify-content: center; /* Centers the hr element horizontally */
  }
  
  .footer-line hr {
    width: 75%; /* Sets the width of the hr element to 75% of its container */
    border: none; /* Removes the default border */
    height: 1px; /* Sets the height of the hr line */
    background-color: #ffffff; /* Sets the color of the hr line, change as needed */
  }
  

